<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.flag.dao.mapper.FlagBindMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.flag.dao.po.FlagBindPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="witness_id" jdbcType="VARCHAR" property="witnessId" />
    <result column="witness_name" jdbcType="VARCHAR" property="witnessName" />
    <result column="flag_id" jdbcType="VARCHAR" property="flagId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>

  <resultMap id="ourFlagMap" type="com.luoys.upgrade.flag.dao.po.UserFlagPO">
    <result column="flag_id" jdbcType="VARCHAR" property="flagId" />
    <result column="flag_name" jdbcType="VARCHAR" property="flagName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="expected" jdbcType="VARCHAR" property="expected" />
    <result column="actual" jdbcType="VARCHAR" property="actual" />
    <result column="flag_type" jdbcType="TINYINT" property="flagType" />
    <result column="priority" jdbcType="TINYINT" property="priority" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="owner_id" jdbcType="VARCHAR" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="witness_id" jdbcType="VARCHAR" property="witnessId" />
    <result column="witness_name" jdbcType="VARCHAR" property="witnessName" />
    <result column="flag_status" jdbcType="TINYINT" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    id, flag_id, owner_id, owner_name, witness_id, witness_name, `type`, `status`, gmt_create, gmt_modified
  </sql>

  <!--新增相关sql-->
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.flag.dao.po.FlagBindPO" useGeneratedKeys="true">
    insert into flag_bind (owner_id, flag_id, `type`,
                           `status`, is_delete, gmt_create,
                           gmt_modified)
    values (#{ownerId,jdbcType=VARCHAR}, #{flagId,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT},
            #{status,jdbcType=TINYINT}, 0, now(),
            now())
  </insert>

  <!--修改相关sql-->
  <update id="deleteByFlagId" parameterType="java.lang.String">
    update flag_bind
    set is_delete = 1, gmt_modified = now()
    where flag_id = #{flagId,jdbcType=VARCHAR}
  </update>

  <!--查询相关sql-->
  <select id="listOurFlags" resultMap="ourFlagMap">
    select
    f.flag_id, f.flag_name, f.description, f.expected, f.actual, f.type as flag_type, f.priority, f.start_date, f.end_date, f.creator_id, f.status as flag_status,
    fb.owner_id, fb.owner_name, fb.witness_id, fb.witness_name
    from flag_bind fb
    inner join flag f
    on fb.flag_id = f.flag_id and fb.is_delete = 0
    where
    f.is_delete = 0
    <if test="ownerId != null">
      and fb.owner_id = #{ownerId,jdbcType=VARCHAR}
    </if>
    <if test="witnessId != null">
      and fb.witness_id = #{witnessId,jdbcType=VARCHAR}
    </if>
    <if test="flagType != null">
      and f.type = #{flagType,jdbcType=TINYINT}
    </if>
    <if test="flagStatus != null">
      and f.status = #{flagStatus,jdbcType=TINYINT}
    </if>
    <if test="flagName != null">
      and f.flag_name = #{flagName,jdbcType=TINYINT}
    </if>
    <if test="pageIndex != null">
      order by f.gmt_create desc limit ${pageIndex}, 10
    </if>
  </select>

  <select id="selectByFlagId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from flag_bind
    where flag_id = #{flagId,jdbcType=VARCHAR}
  </select>

  <!--<update id="updateStatusByFlagId" parameterType="com.luoys.upgrade.flag.dao.po.FlagBindPO">-->
    <!--update flag_bind-->
    <!--set owner_id = #{ownerId,jdbcType=VARCHAR},-->
      <!--flag_id = #{flagId,jdbcType=VARCHAR},-->
      <!--`type` = #{type,jdbcType=TINYINT},-->
      <!--`status` = #{status,jdbcType=TINYINT},-->
      <!--is_delete = #{isDelete,jdbcType=TINYINT},-->
      <!--gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},-->
      <!--gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->

  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from flag_bind-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->


  <!--<insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.flag.dao.po.FlagBindPO" useGeneratedKeys="true">-->
    <!--insert into flag_bind-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="ownerId != null">-->
        <!--owner_id,-->
      <!--</if>-->
      <!--<if test="flagId != null">-->
        <!--flag_id,-->
      <!--</if>-->
      <!--<if test="type != null">-->
        <!--`type`,-->
      <!--</if>-->
      <!--<if test="status != null">-->
        <!--`status`,-->
      <!--</if>-->
      <!--<if test="isDelete != null">-->
        <!--is_delete,-->
      <!--</if>-->
      <!--<if test="gmtCreate != null">-->
        <!--gmt_create,-->
      <!--</if>-->
      <!--<if test="gmtModified != null">-->
        <!--gmt_modified,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="ownerId != null">-->
        <!--#{ownerId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="flagId != null">-->
        <!--#{flagId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="type != null">-->
        <!--#{type,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="status != null">-->
        <!--#{status,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="isDelete != null">-->
        <!--#{isDelete,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="gmtCreate != null">-->
        <!--#{gmtCreate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="gmtModified != null">-->
        <!--#{gmtModified,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.luoys.upgrade.flag.dao.po.FlagBindPO">-->
    <!--update flag_bind-->
    <!--<set>-->
      <!--<if test="ownerId != null">-->
        <!--owner_id = #{ownerId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="flagId != null">-->
        <!--flag_id = #{flagId,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="type != null">-->
        <!--`type` = #{type,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="status != null">-->
        <!--`status` = #{status,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="isDelete != null">-->
        <!--is_delete = #{isDelete,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="gmtCreate != null">-->
        <!--gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="gmtModified != null">-->
        <!--gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.luoys.upgrade.flag.dao.po.FlagBindPO">-->
    <!--update flag_bind-->
    <!--set owner_id = #{ownerId,jdbcType=VARCHAR},-->
      <!--flag_id = #{flagId,jdbcType=VARCHAR},-->
      <!--`type` = #{type,jdbcType=TINYINT},-->
      <!--`status` = #{status,jdbcType=TINYINT},-->
      <!--is_delete = #{isDelete,jdbcType=TINYINT},-->
      <!--gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},-->
      <!--gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>