<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoys.upgrade.flag.dao.mapper.TaskDailyMapper">
  <resultMap id="BaseResultMap" type="com.luoys.upgrade.flag.dao.po.TaskDailyPO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_daily_id" jdbcType="VARCHAR" property="taskDailyId" />
    <result column="flag_id" jdbcType="VARCHAR" property="flagId" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="task_daily_name" jdbcType="VARCHAR" property="taskDailyName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_daily_id, flag_id, task_id, task_daily_name, description, `comment`, point, `type`,
    `status`, start_time, end_time, gmt_create, gmt_modified
  </sql>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.flag.dao.po.TaskDailyPO" useGeneratedKeys="true">
    insert into task_daily (task_daily_id, flag_id, task_id,
                            task_daily_name, description, `comment`,
                            point, `type`, `status`,
                            start_time, end_time, is_delete,
                            gmt_create, gmt_modified)
    values (#{taskDailyId,jdbcType=VARCHAR}, #{flagId,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR},
                                             #{taskDailyName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR},
                                             #{point,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT},
                                             #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 0, now(), now())
  </insert>

  <update id="updateStatusByTaskDailyId">
    update task_daily
    set `status` = #{status,jdbcType=TINYINT},
      gmt_modified = now()
    where task_daily_id = #{taskDailyId,jdbcType=VARCHAR}
  </update>


  <select id="listByFlagId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_daily
    where flag_id = #{flagId,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_daily
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_daily
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.luoys.upgrade.flag.dao.po.TaskDailyPO" useGeneratedKeys="true">
    insert into task_daily
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskDailyId != null">
        task_daily_id,
      </if>
      <if test="flagId != null">
        flag_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskDailyName != null">
        task_daily_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="comment != null">
        `comment`,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskDailyId != null">
        #{taskDailyId,jdbcType=VARCHAR},
      </if>
      <if test="flagId != null">
        #{flagId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskDailyName != null">
        #{taskDailyName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.luoys.upgrade.flag.dao.po.TaskDailyPO">
    update task_daily
    <set>
      <if test="taskDailyId != null">
        task_daily_id = #{taskDailyId,jdbcType=VARCHAR},
      </if>
      <if test="flagId != null">
        flag_id = #{flagId,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskDailyName != null">
        task_daily_name = #{taskDailyName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        `comment` = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.luoys.upgrade.flag.dao.po.TaskDailyPO">
    update task_daily
    set task_daily_id = #{taskDailyId,jdbcType=VARCHAR},
      flag_id = #{flagId,jdbcType=VARCHAR},
      task_id = #{taskId,jdbcType=VARCHAR},
      task_daily_name = #{taskDailyName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      `comment` = #{comment,jdbcType=VARCHAR},
      point = #{point,jdbcType=INTEGER},
      `type` = #{type,jdbcType=TINYINT},
      `status` = #{status,jdbcType=TINYINT},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>